In [ ]:
import pandas as pa

In [2]:
import pandas as pd
path = "C:/Users/HP/PycharmProjects/tutedudepythonAssignments/DATA_ANALYSIS/auto-mpg.csv"
df = pd.read_csv(path)
print(df.head)

<bound method NDFrame.head of      Unnamed: 0    0          1             2           3       4  \
0             0  mpg  cylinders  displacement  horsepower  weight
1             1   18          8           307         130    3504
2             2   15          8           350         165    3693
3             3   18          8           318         150    3436
4             4   16          8           304         150    3433
..          ...  ...        ...           ...         ...     ...
394         394   27          4           140          86    2790
395         395   44          4            97          52    2130
396         396   32          4           135          84    2295
397         397   28          4           120          79    2625
398         398   31          4           119          82    2720

                5           6       7                          8
0    acceleration  model year  origin                   car name
1              12          70       1  chevrolet chevelle malibu
2            11.5          70       1          buick skylark 320
3              11          70       1         plymouth satellite
4              12          70       1              amc rebel sst
..            ...         ...     ...                        ...
394          15.6          82       1            ford mustang gl
395          24.6          82       2                  vw pickup
396          11.6          82       1              dodge rampage
397          18.6          82       1                ford ranger
398          19.4          82       1                 chevy s-10

[399 rows x 10 columns]>

In [3]:
df.head(5)

,Unnamed: 0,0,1,2,3,4,5,6,7,8
0,0,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
1,1,18,8,307,130,3504,12,70,1,chevrolet chevelle malibu
2,2,15,8,350,165,3693,11.5,70,1,buick skylark 320
3,3,18,8,318,150,3436,11,70,1,plymouth satellite
4,4,16,8,304,150,3433,12,70,1,amc rebel sst

In [4]:
df.tail(5)

     Unnamed: 0   0  1    2   3     4     5   6  7                8
394         394  27  4  140  86  2790  15.6  82  1  ford mustang gl
395         395  44  4   97  52  2130  24.6  82  2        vw pickup
396         396  32  4  135  84  2295  11.6  82  1    dodge rampage
397         397  28  4  120  79  2625  18.6  82  1      ford ranger
398         398  31  4  119  82  2720  19.4  82  1       chevy s-10